*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
}
.container {
 max-width: 1140px;
 width: 100%;
 margin: 0 auto;
 padding: 0 15px;   
}
.header__nav {
    background: purple;
    padding: 20px;
}
.header__nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 30px;
    text-transform: uppercase;
    color: white;
}
.header__content {
    height: 500px;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    
}
h1 {
    color: white;
    text-transform: uppercase;
}
.figure {
    display: flex;
    gap: 20px;
}
.item {
    height: 50px;
    width: 50px;
    background: red;
    clip-path: polygon(50% 0%, 69% 20%, 100% 34%, 100% 100%, 48% 59%, 0 100%, 0 35%, 28% 22%);

}
.main {
    background: purple;
    height: 100vh;
}

.main__block{
    display: flex;
    gap: 20px;
    
}
.main__item {
    width: 25%;
    height: 500px;
    background: rgb(162, 63, 162);
}
.footer {
    padding: 50px 0;
    
}
p {
    text-align: center;
    font-size: 30px;
    text-shadow: 0 0 10px purple;
}